@page "/new user"
@attribute [StreamRendering]
@rendermode InteractiveServer
<PageTitle>New User</PageTitle>

<h1>New User</h1>

<p>Create new user!</p>

@if (userSaved)
{
	<p>User saved!</p>
	<button class="btn btn-primary" @onclick="ResetForm">Create New User</button>
}

@if (string.IsNullOrWhiteSpace(inputName) || string.IsNullOrWhiteSpace(inputEmail))
{
	<div>
	<input type="text" placeholder="Enter Name" @bind="tempName" />
	<br/>
	<input type="text" placeholder="Enter Email" @bind="tempEmail" />
	</div>
	<button class="btn btn-primary" @onclick="CheckNameFieldsFilledAndSet">Next</button>
	@if (errorFillMessage)
	{
		<p class="text-danger">All fields need to be filled</p>
	}

}
else if (adressCheck)
{
	<div>
	<input type="text" placeholder="Enter Adress" @bind="tempAdress" />
	<br/>
	<input type="text" placeholder="Enter City" @bind="tempCity" />
	<br/>
	<input type="text" placeholder="Enter Zip" @bind="tempZip" />
	</div>
	<button class="btn btn-primary" @onclick="CheckAdressFieldsFilledAndSet">Next</button>
	@if (errorFillMessage)
	{
		<p class="text-danger">All fields need to be filled</p>
	}
}
else if (companyCheck)

{
	<div>
	<input type="text" placeholder="Enter Company Name" @bind="tempCompanyName"/>
	<br/>
	<input type="text" placeholder="Enter Company Catch Phrase" @bind="tempCompanyCatchPhrase" style="width:400px;"/>
	</div>
	<button class="btn btn-primary" @onclick="CheckCompanyFieldsFilledAndSet">Create User</button>
	@if (errorFillMessage)
	{
		<p class="text-danger">All fields need to be filled</p>
	}
}

@if (userIsDone)
{
	<p>Thank you for creating a new user!</p>
	<table class="table">
		<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Adress</th>
			<th>City</th>
			<th>Zip</th>
			<th>Company Name</th>
			<th>Company Catchphrase</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>@inputName</td>
			<td>@inputEmail</td>
			<td>@inputAdress</td>
			<td>@inputCity</td>
			<td>@inputZip</td>
			<td>@companyName</td>
			<td>@companyCatchPhrase</td>
		</tr>

		</tbody>
	</table>
	@if (!userSaved)
	{
		<button class="btn btn-primary" @onclick="SaveUser">Save User</button>
		<button class="btn btn-primary" @onclick="ResetForm">Discard User</button>
	}
}






@code
{
	private string? inputName;
	private string? tempName;
	private string? inputEmail;
	private string? tempEmail;

	private string? inputAdress;
	private string? tempAdress;
	private string? inputCity;
	private string? tempCity;
	private string? inputZip;
	private string? tempZip;

	private string? companyName;
	private string? tempCompanyName;
	private string? companyCatchPhrase;
	private string? tempCompanyCatchPhrase;


	private bool adressCheck = false;
	private bool companyCheck = false;
	private bool errorFillMessage = false;
	private bool userIsDone = false;
	private bool userSaved = false;

	void CheckNameFieldsFilledAndSet()
	{
		if (!string.IsNullOrWhiteSpace(tempName) && !string.IsNullOrWhiteSpace(tempEmail))
		{

			inputName = tempName;
			inputEmail = tempEmail;
			adressCheck = true;
			errorFillMessage = false;
		}
		else
		{
			errorFillMessage = true;
		}
	}

	void CheckAdressFieldsFilledAndSet()
	{
		if (!string.IsNullOrWhiteSpace(tempAdress) && !string.IsNullOrWhiteSpace(tempCity) && !string.IsNullOrWhiteSpace(tempZip))
		{
			inputAdress = tempAdress;
			inputCity = tempCity;
			inputZip = tempZip;
			companyCheck = true;
			adressCheck = false;
			errorFillMessage = false;
		}
		else
		{
			errorFillMessage = true;
		}
	}

	void CheckCompanyFieldsFilledAndSet()
	{
		if (!string.IsNullOrWhiteSpace(tempCompanyName) && !string.IsNullOrWhiteSpace(tempCompanyCatchPhrase))
		{
			companyName = tempCompanyName;
			companyCatchPhrase = tempCompanyCatchPhrase;
			userIsDone = true;
			companyCheck = false;
			errorFillMessage = false;
		}
		else
		{
			errorFillMessage = true;
		}
	}
	void SaveUser()
	{
		userSaved = true;
		ResetTempFields();
	}
	void ResetForm()
	{
		OnInitialized();
	}
	void ResetTempFields()
	{
		userSaved = true;
		tempName = "";
		tempEmail = "";
		tempAdress = "";
		tempCity = "";
		tempZip = "";
		tempCompanyName = "";
		tempCompanyCatchPhrase = "";
	}
	protected override void OnInitialized()
	{
		ResetTempFields();
		inputName = "";
		inputEmail = "";
		inputAdress = "";
		inputCity = "";
		inputZip = "";
		companyName = "";
		companyCatchPhrase = "";

		adressCheck = false;
		companyCheck = false;
		userIsDone = false;
		userSaved = false;
		errorFillMessage = false;
	}




}
