@page "/newuser"
@using System.Runtime.InteropServices.JavaScript
@using Microsoft.AspNetCore.Identity
@attribute [StreamRendering]
@rendermode InteractiveServer
<PageTitle>New User</PageTitle>

<h1>New User</h1>

<p>Create new user!</p>
@if (step == 1)
{
	<EditForm Model="@user" OnValidSubmit="NextPage">
		<DataAnnotationsValidator />
		<InputText id="Name" placeholder="Enter Name" @bind-Value="user.Name"/>
		<ValidationMessage For="@(() => user.Name)" />
		<br/>
		<InputText id="Email" placeholder="Enter Email" @bind-Value="user.Email" />
		<ValidationMessage For="@(() => user.Email)" />
		<br/>
		<button type="submit">Submit</button>
	</EditForm>
}
else if (step == 2)
{

	<EditForm Model="@user.Address" OnValidSubmit="NextPage">
		<DataAnnotationsValidator />
		<InputText id="Street" placeholder="Enter Street Address" @bind-Value="user.Address.Street" />
		<ValidationMessage For="@(() => user.Address.Street)" />
		<br />
		<InputText id="City" placeholder="Enter City" @bind-Value="user.Address.City" />
		<ValidationMessage For="@(() => user.Address.City)" />
		<br />
		<InputText id="Zip" placeholder="Enter Zip Code" @bind-Value="user.Address.ZipCode" />
		<ValidationMessage For="@(() => user.Address.ZipCode)" />
		<br />
		<button type="submit">Submit</button>
	</EditForm>
}
else if (step == 3)
{
	<EditForm Model="@user" OnValidSubmit="FinalSubmit">
		<DataAnnotationsValidator />
		<InputText id="Street" placeholder="Enter Company Name" @bind-Value="user.Company.Name" />
		<ValidationMessage For="@(() => user.Company.Name)" />
		<br />
		<InputText id="City" placeholder="Enter Company Catchphrase (Optional)" @bind-Value="user.Company.CatchPhrase" style="width:400px"/>
		<ValidationMessage For="@(() => user.Company.CatchPhrase)" />
		<br />
	
		<button type="submit">Submit</button>
	</EditForm>
}
else if (formIsDone)
{
	userSaved = false;
	userDeleted = false;
	<table class="table">
		<thead>
		<tr>
			<th>Randomly Generated User ID</th>
			<th>Name</th>
			<th>Email</th>
			<th>Adress</th>
			<th>City</th>
			<th>Zip</th>
			<th>Company Name</th>
			<th>Company Catchphrase</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>@user.Id</td>
			<td>@user.Name</td>
			<td>@user.Email</td>
			<td>@user.Address.Street</td>
			<td>@user.Address.City</td>
			<td>@user.Address.ZipCode</td>
			<td>@user.Company.Name</td>
			<td>@(user.Company.CatchPhrase ?? "Check your assumptions")</td>
		</tr>

		</tbody>
	</table>

	<button class="btn btn-primary" @onclick="SaveUser">Save User</button>
	<button class="btn btn-primary" @onclick="DeleteUser">Discard User and Retry</button>
}

@if(userSaved)
{
	<p style ="color: green; font-weight: bold;">User @user.Name saved!</p>
}
@if (userDeleted)
{
	<p style="color: red; font-weight: bold;">User @user.Name discarded!</p>
}

@code {
	private User user = new();
	private List<User> users = new();
	private int step = 1;
	private bool formIsDone;
	private bool userSaved = false;
	private bool userDeleted = false;

	protected override void OnInitialized()
	{
		step = 1;
	}
	private void NextPage()
	{
		userSaved = false;
		step++;
		StateHasChanged();
	}

	private void FinalSubmit()
	{
		formIsDone = true;
		step = 0;
	}
	private void ResetForm()
	{
		user = new();
		step = 1;
		formIsDone = false;
	}

	private void DeleteUser()
	{
		ResetForm();
		userDeleted = true;
	}
	private void SaveUser()
	{
		//Save user to database logic
		users.Add(user);
		ResetForm();
		userSaved = true;
	}

	
}
