@page "/users"
@rendermode InteractiveServer

<PageTitle>Users</PageTitle>

<h3>User Data Storage</h3>

@if (loadingNotDone)
{
	<p style="font-size: 36px; color: red;">@(new MarkupString(loadingMessage))</p>
}
else if (localDataBase)
{
	<input type="text" @bind="searchTerm" placeholder="Search by name or company" size="50px" />
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Email</th>
				<th>Street</th>
				<th>City</th>
				<th>ZipCode</th>
				<th>Company</th>
				<th>Company Catchphrase</th>
			</tr>
		</thead>
		<tbody>
			@if (!allUsers)
			{
				@foreach (var user in filteredUsers.Take(5))
				{
					<tr>
						<td>@user.Id</td>
						<td>@user.Name</td>
						<td>@user.Email</td>
						<td>@(user.Address?.Street ?? "N/A")</td>
						<td>@(user.Address?.City ?? "N/A")</td>
						<td>@(user.Address?.ZipCode ?? "N/A")</td>
						<td>@(user.Company?.Name ?? "N/A")</td>
						<td>@(user.Company?.CatchPhrase ?? "N/A")</td>
					</tr>
				}
			}
			else if (allUsers)
			{
				foreach (var user in filteredUsers)
				{
					<tr>
						<td>@user.Id</td>
						<td>@user.Name</td>
						<td>@user.Email</td>
						<td>@(user.Address?.Street ?? "N/A")</td>
						<td>@(user.Address?.City ?? "N/A")</td>
						<td>@(user.Address?.ZipCode ?? "N/A")</td>
						<td>@(user.Company?.Name ?? "N/A")</td>
						<td>@(user.Company?.CatchPhrase ?? "N/A")</td>
					</tr>
				}
			}

		</tbody>
	</table>



}
else
{
	<input type="text" @bind="searchTerm" placeholder="Search by name or company" size="50px" />
	<table class="table">
		<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Username</th>
			<th>Email</th>
			<th>Street</th>
			<th>City</th>
			<th>Suite</th>
			<th>ZipCode</th>
			<th>Latitude</th>
			<th>Longitude</th>
			<th>Company</th>
			<th>Company Catchphrase</th>
			<th>Business Service</th>
		</tr>
		</thead>
		<tbody>
			@if (!allUsers)
			{
				@foreach (var user in filteredUsers.Take(5))
				{
					<tr>
						<td>@user.Id</td>
						<td>@user.Name</td>
						<td>@user.Username</td>
						<td>@user.Email</td>
						<td>@(user.Address?.Street ?? "N/A")</td>
						<td>@(user.Address?.City ?? "N/A")</td>
						<td>@(user.Address?.Suite ?? "N/A")</td>
						<td>@(user.Address?.ZipCode ?? "N/A")</td>
						<td>@(user.Address?.Geo?.Lat)</td>
						<td>@(user.Address?.Geo?.Lng)</td>
						<td>@(user.Company?.Name  ?? "N/A")</td>
						<td>@(user.Company?.CatchPhrase ?? "N/A")</td>
						<td>@(user.Company?.Bs ?? "N/A")</td>
					</tr>
				}
			}
			else if (allUsers)
			{
				foreach (var user in filteredUsers)
				{
					<tr>
						<td>@user.Id</td>
						<td>@user.Name</td>
						<td>@user.Username</td>
						<td>@user.Email</td>
						<td>@(user.Address?.Street ?? "N/A")</td>
						<td>@(user.Address?.City ?? "N/A")</td>
						<td>@(user.Address?.Suite ?? "N/A")</td>
						<td>@(user.Address?.ZipCode ?? "N/A")</td>
						<td>@(user.Address?.Geo?.Lat)</td>
						<td>@(user.Address?.Geo?.Lng)</td>
						<td>@(user.Company?.Name ?? "N/A")</td>
						<td>@(user.Company?.CatchPhrase ?? "N/A")</td>
						<td>@(user.Company?.Bs ?? "N/A")</td>
					</tr>
				}
			}

		</tbody>
	</table>
}
<button class="btn btn-primary" @onclick="ToggleListView">@btnMessage</button>
<button class="btn btn-primary" @onclick="OnSortButtonClick">@sortBtnMessage</button>
<button class="btn btn-primary" @onclick="ChangeUserRepo">@changeUserRepo</button>